html{
    box-sizing: border-box;
    font-family: inter;
    font-size: 15px;
}
body{
    background-color: #FAFAFA;
}
h2,p,span,input,ul{
    margin: 0;
    padding: 0;
}
#container {
    width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    gap: 30px;
    margin-bottom: 70px;
}

main{
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 1);
    border-radius: 24px;
    width: 100%;
    padding: 1px;
}
.boxes{
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
    padding: 1px;
}
.box{
    height: 90px;
    max-height: 70px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    padding: 30px 30px 100px 20px;
    gap: 20px;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.05);
}
#results{
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
#converted-price{
    font-size: 20px;
}
#bottom-section{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 40px 10px 10px 10px;
}
.inputs{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: flex-start;
    /* border: 2px solid; */
}
.currency{
    position: relative;
    margin-top: -6px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    
}
.currencyValue{
    display: flex;
    align-items: center;
    gap: 14px;
}
.currencyValue svg{
    width: 10px;
}
.input-group {
    position: relative;
    width: 100%;
}
.input-group input{
    width: 100%;
    border: 0;
    outline: 0px;
    padding: 0px 0px 10px 0px;
    font-family: inter;
    font-size: 20px;
    background: transparent;
    
}

.input-group input::after{
    font-size: 20px;
}

#underline{
    height: 2px;
    background: #e5e5e5;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 80%;
}
#underline::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    height: 2px;
    width: 0;
    transition: width 0.3s ease;
    transform: translateX(-50%);
    background: #A0E870;
}
.input-group input:focus + #underline::after{
    width: 100%;
    height: 3px;
}
.input-group input:focus {
    font-size: 20px;
    transition: 0.2s ease;
}
.icon-circle{
    position: absolute;
    width: 40px;
    height: 40px;
    border: 5px solid #f1f0f0;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.icon-circle:hover{
    cursor: pointer;
}
.icon{
    width: 15px;
    height: 15px;
    fill: black;
}
button{
    font-family: inter;
    height: 45px;
    border-radius: 24px;
    border: 0;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 500;
    font-size: 15px;
    background-color: rgb(248, 184, 65);
}
#swap-btn{
    background-color: #A0E870;
}
button:hover{
    cursor: pointer;
}
button:active{
    transform: scale(0.9);
}

.list-items{
    padding: 10px 14px;
    border-radius: 10px;
    border: 1px solid #ddd;
    font-size: 15px;
    background: white;
    cursor: pointer;
}
ul{ 
    /* display: none; */
    list-style-type: none;
    max-height: 90px;
    overflow-y: auto;
    min-width: 117%; 
    right: 0;
}
li{
    margin-bottom: 2px;
}

@media(max-width: 450px){
    #container{
        width: 90%;
    }
}
